{% extends 'base.html.twig' %}
{% block title %}{{ article.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ article.name }}</h1>
        <p>{{ article.price }}</p>
        <hr>
        <a href="/article" class="btn btn-secondary">Retour</a>
    </div>
{% endblock %}